* {
    padding: 0;
    margin: 0;
}

.flexy {
    display: flex;
}

.internal {
    padding-bottom: 5px;
}

header {
    background-color: pink;
}

#banner {
    background-color: greenyellow;
    text-align: center;
}

#content {
    background-color: lightblue;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
}

main {
    background-color: lightseagreen;
    padding: 10px;
    width: 60%;
}

.bubble_type_container {
    background-color: green;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.bubble_type_container h3 {
    text-align: center;
}

aside {
    background-color: antiquewhite;
    padding: 10px;
    width: 40%;
}

footer {
    background-color: lightgreen;
}